.breadcrumb > li + li:before {
	content: "»\00a0";
}

#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#sortable li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	/*
	padding-left: 1.5em;
	font-size: 1.4em;
	height: 25px;
	*/
}
#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.error {
	color: red;
}

#error-message {
	padding-bottom: 10px;
	text-align: center;
}